*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	text-decoration: none;
	list-style: none;

}
body{
	font-family: 'Raleway', sans-serif; 
	background-color: #696969;
}
.logo{
	background: black;
	width: 100%;
	display: flex;
	justify-content: center;
	
}
.logo a:hover{
cursor: pointer;
	}

.graficlogo{

	padding: 5px;
	max-width: 100%;
	box-sizing: border-box;

}
nav{
	margin: auto;
	width: 800px;
	height: 50px;
	margin-top: 25px;/*отступ*/


}
.tonav{
	background-color: white;
	font-size: 14px;
	margin-top: 40px;
	float: center;
    
}
.topnav a{
	color: #181c1f;
	text-align: center;
	padding: 14px 16px;/**/
	font-size: 15px;
	
}
.topnav a:hover{
	/*border-bottom: 1px solid #000;*/
	border-left: 1px solid #000;
	border-right:1px solid #000;
	   color: orange;
	 

}
/*probel*/
.topnav .icon{
	display: none;

}

.mw-100{
	max-width: 100%;
	height: 480px;
}
@media screen and (max-width: 768px){
	.topnav a:not(:first-child){
		display: none;
	}
.topnav a.icon{
	float: right;
	margin-top: -17px;
	display: block;
	color:#181c1f;
}	
nav{
	width: 100%;
	height: 50px;
}
.topnav.responsive{
	position: relative;
}
.topnav.responsive a.icon{
	position: absolute;
	right: 0;
	top: 0;

}
.topnav.responsive a{
	float: none;
	display: block;
	text-align: left;
}
.mw-100{
	margin-top: 65px;
	max-width: 100%;
	height: 480px;
}
div.hr hr {
display: none;
}
}



div.hr {

width:100%;
height:.2px;

}

